* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
body {
    color:coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 219, 180)
}

.profile-image {
    border: solid 1px coral;
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    overflow: hidden;
    background-image: url(../images/sonya\ profile\ pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#headshot {
    padding: 0;
    max-width: 100%;
    height: auto;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
    color:coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color:coral
}

header nav {
    margin: 5px;
    width: 50%;
}

nav {
    text-decoration: rgb(192, 106, 36);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

header nav a {
    width: 25%;
    text-align: center;
    border-radius: 5px 5px;
}

.links {
    color: white;
    font-size: 20px;
    font-weight: 800;
}

header nav a:hover {
    background: white;
    color: black;
    text-shadow: none;
}
.one-qrt {
    flex: 0 0 15%;
    /* float: left; */
    width: 10%;
    font-size: 30px;
}
/* images */

#port-image {
    height: 50%;
    width: 100%;
    text-align: end;
    color: white;
    text-align: justify;
    border-bottom: 2px solid coral;
}
#about-me {
    /* width: 100%; */
    padding: 5px 0;
    color: white;
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    flex-direction: row;
    /* align-items: stretch; */
}

#content {
    /* float: center; */
}

/* images */

#port-image {
    height: 50%;
    width: 100%;
    border: 2px solid white;
    text-align: end;
    color: white;
    background-color: coral;
}
/* about me section */

#about-me > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid coral;
}
#about-me > article {
    flex: 0 0 75%;
    border-left: 10px coral;
}
#about-me p {
    font-size: 20px;
}
#about-me {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
/* work */
#work > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid rgb(245, 106, 64);
    line-height: 10;
}
#work > div {
    height: 100%;
}
#work {
    width: 100%;
    padding: 5px 0;
    color: coral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
.flexContainer {
    margin: 3px 3px;
    padding: 2px 2px;
    height: 1600px;
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white;
    float: right;
}
.workFlex img {
    margin: 2px 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px 5px;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 1000px;
}
.runBuddy {
    background-image: url(../images/hero-bg.jpg);
    /* width: ; */
    /* height: 20%; */
    display: inline-block;
}
.blank {
    background-image: url(../images/asthetic.jpg);
    width: 50%;
    height: 20%;
}
.blank2 {
    background-image: url(../images/asthetic2.png);
    height: 10%;
    width: 10%;
}

/* footer */
#contact > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid rgb(245, 146, 101);
    flex: 0 0 25%;
}
#contact {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
#contact > nav {
    flex: 0 0 75%;
    padding: 5px 0;
}
#contact > nav > a {
    color: white;
    font-size: large;
}
#contact > nav > a:hover {
    background: white;
    color: rgb(226, 153, 111);
    border-radius: 5px 5px;
    font-size: large;
}