* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
body {
    color:rgb(139, 79, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(245, 198, 110)
  }

#headshot {
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
    color: rgb(139, 79, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color:rgb(192, 106, 36)
}

header nav {
    margin: 5px;
    width: 50%;
}

nav {
    text-decoration: rgb(192, 106, 36);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

header nav a {
    width: 25%;
    text-align: center;
    border-radius: 5px 5px;
}

.links {
    color: white;
    font-size: 20px;
    font-weight: 800;
}

header nav a:hover {
    background: white;
    color: black;
    text-shadow: none;
}
.one-qtr {
    flex: 0 0 15%;
}
/* images */
#back-image {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1), transparent),
        url("./images/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
#port-image {
    height: 10%;
    width: 50%;
    border: 2px solid white;
    text-align: end;
    color: white;
    background-color: rgb(245, 157, 75);
}
#about-me {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
/* images */
#back-image {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1), transparent);
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
#port-image {
    height: 50%;
    width: 100%;
    border: 2px solid white;
    text-align: end;
    color: white;
    background-color: orange;
}
/* about me section */
#about-me > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid orange;
}
#about-me > article {
    flex: 0 0 75%;
}
#about-me p {
    font-size: 20px;
}
#about-me {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
/* work */
#work > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid rgb(245, 106, 64);
    line-height: 10;
}
#work > div {
    height: 100%;
}
#work {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
.flexContainer {
    margin: 3px 3px;
    padding: 2px 2px;
    height: 600px;
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white;
}
.workFlex {
    margin: 2px 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px 5px;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 8px;
}
.runBuddy {
    background-image: url(./assets/images/hero-bg.jpg);
    height: 400px;
    width: 100%;
}
.blank {
    background-image: url(./assets/images/Aesthetic background (2) .png);
    height: 200px;
    width: 49%;
}
.blank2 {
    background-image: url(./assets/images/asthetic.jpg);
    height: 200px;
    width: 49%;
}

/* footer */
#contact > .one-qtr > h2 {
    text-align: right;
    border-right: 2px solid orange;
    flex: 0 0 25%;
}
#contact {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
#contact > nav {
    flex: 0 0 75%;
    padding: 5px 0;
}
#contact > nav > a {
    color: white;
    font-size: large;
}
#contact > nav > a:hover {
    background: white;
    color: black;
    border-radius: 5px 5px;
    font-size: large;
}